{
  "openapi": "3.1.0",
  "info": {
    "title": "Kuida API",
    "version": "2026-09-28",
    "summary": "Conecta el sistema de tu institución con Kuida.",
    "description": "API REST para que clínicas, laboratorios, farmacias y prestadores conecten su sistema de gestión con Kuida: pacientes, turnos, consultas, solicitudes de ingreso, tratamientos, eventos y webhooks. Autenticación con clave de API (`Authorization: Bearer kd_live_…`), JSON en camelCase, ids con prefijo, listas con cursor, `Idempotency-Key` en todos los POST y versiones fechadas con el header `Kuida-Version`.",
    "contact": {
      "name": "Kuida",
      "url": "https://www.kuida.ar/desarrolladores",
      "email": "desarrolladores@kuida.ar"
    },
    "license": {
      "name": "Propietaria — los SDKs son MIT",
      "url": "https://www.kuida.ar/desarrolladores"
    }
  },
  "servers": [
    {
      "url": "https://www.kuida.ar/api",
      "description": "Producción"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Cuenta"
    },
    {
      "name": "Pacientes"
    },
    {
      "name": "Profesionales"
    },
    {
      "name": "Turnos"
    },
    {
      "name": "Consultas"
    },
    {
      "name": "Solicitudes de ingreso"
    },
    {
      "name": "Tratamientos"
    },
    {
      "name": "Eventos"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/v1/account": {
      "get": {
        "operationId": "account.retrieve",
        "summary": "Obtener la cuenta",
        "description": "La organización dueña de la clave, con sus líneas de servicio y los permisos de la clave. Sirve para probar que la integración está bien configurada.",
        "tags": [
          "Cuenta"
        ],
        "x-kuida-resource": "account",
        "x-kuida-method": "retrieve",
        "x-kuida-scope": null,
        "parameters": [
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/patients": {
      "post": {
        "operationId": "patients.create",
        "summary": "Crear o identificar un paciente",
        "description": "Da de alta a un paciente sin mandarle nada. Si ya existe uno con ese teléfono (o ese DNI), devuelve el existente y completa los datos que le faltaban; nunca pisa datos cargados. Crear un paciente no lo contacta: el contacto lo dispara un turno, una consulta o una solicitud de ingreso.",
        "tags": [
          "Pacientes"
        ],
        "x-kuida-resource": "patients",
        "x-kuida-method": "create",
        "x-kuida-scope": "patients:write",
        "x-kuida-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatientCreateParams"
              },
              "example": {
                "phone": "+54 9 342 555 0000",
                "fullName": "Paciente Demo",
                "dni": "11111111",
                "externalId": "HC-1234"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Otro pedido con la misma Idempotency-Key está en curso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "patients.list",
        "summary": "Listar pacientes",
        "description": "Pacientes de la organización, del más nuevo al más viejo. Filtra por teléfono, DNI o id externo para buscar uno.",
        "tags": [
          "Pacientes"
        ],
        "x-kuida-resource": "patients",
        "x-kuida-method": "list",
        "x-kuida-scope": "patients:read",
        "x-kuida-paginated": true,
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Cantidad de objetos a devolver, entre 1 y 100. Default 10.",
            "schema": {
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Cursor: id del último objeto de la página anterior. Devuelve los siguientes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "description": "Cursor: id del primer objeto de la página actual. Devuelve los anteriores.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "description": "Filtra por teléfono (cualquier formato).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dni",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientList"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/patients/{id}": {
      "get": {
        "operationId": "patients.retrieve",
        "summary": "Obtener un paciente",
        "description": "Devuelve un paciente por su id.",
        "tags": [
          "Pacientes"
        ],
        "x-kuida-resource": "patients",
        "x-kuida-method": "retrieve",
        "x-kuida-scope": "patients:read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id del objeto.",
            "schema": {
              "type": "string",
              "pattern": "^pat_.*",
              "example": "pat_cm1a2b3c4d5e6f7g8h9i0j"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "El objeto no existe (`resource_missing`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patients.update",
        "summary": "Actualizar un paciente",
        "description": "Cambia solo los campos que envías. El teléfono no se puede cambiar porque es la identidad del paciente en WhatsApp.",
        "tags": [
          "Pacientes"
        ],
        "x-kuida-resource": "patients",
        "x-kuida-method": "update",
        "x-kuida-scope": "patients:write",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id del objeto.",
            "schema": {
              "type": "string",
              "pattern": "^pat_.*",
              "example": "pat_cm1a2b3c4d5e6f7g8h9i0j"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatientUpdateParams"
              },
              "example": {
                "email": "paciente.demo@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "El objeto no existe (`resource_missing`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/doctors": {
      "get": {
        "operationId": "doctors.list",
        "summary": "Listar profesionales",
        "description": "El padrón de profesionales de la organización. Lo cura la organización dentro de Kuida; los turnos y consultas que envías lo usan para identificar a quién atiende.",
        "tags": [
          "Profesionales"
        ],
        "x-kuida-resource": "doctors",
        "x-kuida-method": "list",
        "x-kuida-scope": "doctors:read",
        "x-kuida-paginated": true,
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Cantidad de objetos a devolver, entre 1 y 100. Default 10.",
            "schema": {
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Cursor: id del último objeto de la página anterior. Devuelve los siguientes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "description": "Cursor: id del primer objeto de la página actual. Devuelve los anteriores.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "Filtra por activos o inactivos.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DoctorList"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/doctors/{id}": {
      "get": {
        "operationId": "doctors.retrieve",
        "summary": "Obtener un profesional",
        "description": "Devuelve un profesional por su id.",
        "tags": [
          "Profesionales"
        ],
        "x-kuida-resource": "doctors",
        "x-kuida-method": "retrieve",
        "x-kuida-scope": "doctors:read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id del objeto.",
            "schema": {
              "type": "string",
              "pattern": "^doc_.*",
              "example": "doc_cm1a2b3c4d5e6f7g8h9i0j"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Doctor"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "El objeto no existe (`resource_missing`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appointments": {
      "post": {
        "operationId": "appointments.create",
        "summary": "Crear un turno",
        "description": "Registra un turno y agenda los recordatorios por WhatsApp que la organización tiene configurados (por ejemplo, 24 y 3 horas antes). Si envías `externalId` y ya existe un turno con ese id, devuelve ese y no crea otro.",
        "tags": [
          "Turnos"
        ],
        "x-kuida-resource": "appointments",
        "x-kuida-method": "create",
        "x-kuida-scope": "appointments:write",
        "x-kuida-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentCreateParams"
              },
              "example": {
                "patient": {
                  "phone": "+54 9 342 555 0000",
                  "fullName": "Paciente Demo"
                },
                "doctor": {
                  "externalId": "MED-12",
                  "fullName": "Dra. Demo"
                },
                "startAt": "2026-10-05T10:30:00-03:00",
                "type": "Control",
                "externalId": "turno-123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Otro pedido con la misma Idempotency-Key está en curso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "appointments.list",
        "summary": "Listar turnos",
        "description": "Turnos de la organización, del más nuevo al más viejo según cuándo se cargaron. Filtra por paciente, estado, id externo o rango de horario.",
        "tags": [
          "Turnos"
        ],
        "x-kuida-resource": "appointments",
        "x-kuida-method": "list",
        "x-kuida-scope": "appointments:read",
        "x-kuida-paginated": true,
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Cantidad de objetos a devolver, entre 1 y 100. Default 10.",
            "schema": {
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Cursor: id del último objeto de la página anterior. Devuelve los siguientes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "description": "Cursor: id del primer objeto de la página actual. Devuelve los anteriores.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "description": "Id del paciente (`pat_…`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "confirmed",
                "pending",
                "rescheduled",
                "cancelled",
                "completed"
              ]
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startAtGte",
            "in": "query",
            "required": false,
            "description": "Turnos desde esta fecha y hora.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-10-01T14:30:00-03:00"
            }
          },
          {
            "name": "startAtLt",
            "in": "query",
            "required": false,
            "description": "Turnos antes de esta fecha y hora.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-10-01T14:30:00-03:00"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentList"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appointments/{id}": {
      "get": {
        "operationId": "appointments.retrieve",
        "summary": "Obtener un turno",
        "description": "Devuelve un turno por su id.",
        "tags": [
          "Turnos"
        ],
        "x-kuida-resource": "appointments",
        "x-kuida-method": "retrieve",
        "x-kuida-scope": "appointments:read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id del objeto.",
            "schema": {
              "type": "string",
              "pattern": "^apt_.*",
              "example": "apt_cm1a2b3c4d5e6f7g8h9i0j"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "El objeto no existe (`resource_missing`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "appointments.update",
        "summary": "Reprogramar o modificar un turno",
        "description": "Cambia horario, profesional o tipo. Un horario nuevo mueve los recordatorios pendientes al horario nuevo. Un turno cancelado o atendido no se puede modificar.",
        "tags": [
          "Turnos"
        ],
        "x-kuida-resource": "appointments",
        "x-kuida-method": "update",
        "x-kuida-scope": "appointments:write",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id del objeto.",
            "schema": {
              "type": "string",
              "pattern": "^apt_.*",
              "example": "apt_cm1a2b3c4d5e6f7g8h9i0j"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentUpdateParams"
              },
              "example": {
                "startAt": "2026-10-06T11:00:00-03:00"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "El objeto no existe (`resource_missing`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appointments/{id}/cancel": {
      "post": {
        "operationId": "appointments.cancel",
        "summary": "Cancelar un turno",
        "description": "Marca el turno como cancelado y da de baja sus recordatorios pendientes. Cancelar un turno ya cancelado no hace nada.",
        "tags": [
          "Turnos"
        ],
        "x-kuida-resource": "appointments",
        "x-kuida-method": "cancel",
        "x-kuida-scope": "appointments:write",
        "x-kuida-idempotent": true,
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id del objeto.",
            "schema": {
              "type": "string",
              "pattern": "^apt_.*",
              "example": "apt_cm1a2b3c4d5e6f7g8h9i0j"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentCancelParams"
              },
              "example": {
                "reason": "El paciente pidió cancelar"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "El objeto no existe (`resource_missing`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Otro pedido con la misma Idempotency-Key está en curso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/visits": {
      "post": {
        "operationId": "visits.create",
        "summary": "Registrar una consulta atendida",
        "description": "Registra que el paciente fue atendido y arranca su seguimiento post-consulta: unas horas después Kuida le escribe por WhatsApp. Si viene de un turno, envía `appointment` y el turno queda como atendido. Con `externalId` repetido devuelve la consulta existente.",
        "tags": [
          "Consultas"
        ],
        "x-kuida-resource": "visits",
        "x-kuida-method": "create",
        "x-kuida-scope": "visits:write",
        "x-kuida-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisitCreateParams"
              },
              "example": {
                "patient": {
                  "phone": "+54 9 342 555 0000",
                  "fullName": "Paciente Demo",
                  "dni": "11111111"
                },
                "doctor": {
                  "externalId": "MED-12",
                  "fullName": "Dra. Demo"
                },
                "visitedAt": "2026-10-05T10:45:00-03:00",
                "type": "Control",
                "externalId": "consulta-987",
                "appointment": "turno-123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Visit"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Otro pedido con la misma Idempotency-Key está en curso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "visits.list",
        "summary": "Listar consultas",
        "description": "Consultas registradas, de la más nueva a la más vieja según cuándo se cargaron.",
        "tags": [
          "Consultas"
        ],
        "x-kuida-resource": "visits",
        "x-kuida-method": "list",
        "x-kuida-scope": "visits:read",
        "x-kuida-paginated": true,
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Cantidad de objetos a devolver, entre 1 y 100. Default 10.",
            "schema": {
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Cursor: id del último objeto de la página anterior. Devuelve los siguientes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "description": "Cursor: id del primer objeto de la página actual. Devuelve los anteriores.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "description": "Id del paciente (`pat_…`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitList"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/visits/{id}": {
      "get": {
        "operationId": "visits.retrieve",
        "summary": "Obtener una consulta",
        "description": "Devuelve una consulta por su id.",
        "tags": [
          "Consultas"
        ],
        "x-kuida-resource": "visits",
        "x-kuida-method": "retrieve",
        "x-kuida-scope": "visits:read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id del objeto.",
            "schema": {
              "type": "string",
              "pattern": "^vis_.*",
              "example": "vis_cm1a2b3c4d5e6f7g8h9i0j"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Visit"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "El objeto no existe (`resource_missing`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intake_requests": {
      "post": {
        "operationId": "intake_requests.create",
        "summary": "Crear una solicitud de ingreso",
        "description": "Alguien pide el servicio para un paciente. Kuida registra la solicitud, identifica al paciente y a sus referentes y, si la organización lo configuró, le escribe por WhatsApp para completar lo que falta (`missing`). Cuando queda completa pasa a `ready` y se dispara el webhook `intake.ready`.",
        "tags": [
          "Solicitudes de ingreso"
        ],
        "x-kuida-resource": "intake_requests",
        "x-kuida-method": "create",
        "x-kuida-scope": "intake_requests:write",
        "x-kuida-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntakeRequestCreateParams"
              },
              "example": {
                "patient": {
                  "fullName": "Paciente Demo",
                  "dni": "11111111"
                },
                "contacts": [
                  {
                    "name": "Familiar Demo",
                    "relationship": "hija",
                    "phone": "+54 9 342 555 0001"
                  }
                ],
                "coverage": {
                  "insurer": "OSDEMO",
                  "memberId": "000123"
                },
                "requestedService": "Internación domiciliaria",
                "summary": "Alta sanatorial prevista para el viernes; requiere enfermería diaria.",
                "hospitalized": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntakeRequest"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Otro pedido con la misma Idempotency-Key está en curso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "intake_requests.list",
        "summary": "Listar solicitudes de ingreso",
        "description": "Solicitudes de la organización, de la más nueva a la más vieja.",
        "tags": [
          "Solicitudes de ingreso"
        ],
        "x-kuida-resource": "intake_requests",
        "x-kuida-method": "list",
        "x-kuida-scope": "intake_requests:read",
        "x-kuida-paginated": true,
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Cantidad de objetos a devolver, entre 1 y 100. Default 10.",
            "schema": {
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Cursor: id del último objeto de la página anterior. Devuelve los siguientes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "description": "Cursor: id del primer objeto de la página actual. Devuelve los anteriores.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "validating",
                "ready",
                "loaded",
                "discarded"
              ]
            }
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntakeRequestList"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/intake_requests/{id}": {
      "get": {
        "operationId": "intake_requests.retrieve",
        "summary": "Obtener una solicitud de ingreso",
        "description": "Devuelve una solicitud con su estado y lo que todavía falta.",
        "tags": [
          "Solicitudes de ingreso"
        ],
        "x-kuida-resource": "intake_requests",
        "x-kuida-method": "retrieve",
        "x-kuida-scope": "intake_requests:read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id del objeto.",
            "schema": {
              "type": "string",
              "pattern": "^int_.*",
              "example": "int_cm1a2b3c4d5e6f7g8h9i0j"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntakeRequest"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "El objeto no existe (`resource_missing`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/treatments": {
      "post": {
        "operationId": "treatments.create",
        "summary": "Registrar un tratamiento",
        "description": "Registra un tratamiento indicado al paciente. Queda en su ficha y el agente lo tiene en cuenta en la conversación; los recordatorios de toma los decide la organización.",
        "tags": [
          "Tratamientos"
        ],
        "x-kuida-resource": "treatments",
        "x-kuida-method": "create",
        "x-kuida-scope": "treatments:write",
        "x-kuida-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TreatmentCreateParams"
              },
              "example": {
                "patient": "pat_cm1a2b3c4d5e6f7g8h9i0j",
                "name": "Enalapril 10 mg",
                "dosage": "1 comprimido",
                "frequency": "cada 12 horas",
                "startDate": "2026-10-05T00:00:00-03:00"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Treatment"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Otro pedido con la misma Idempotency-Key está en curso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "treatments.list",
        "summary": "Listar tratamientos",
        "description": "Tratamientos registrados, del más nuevo al más viejo.",
        "tags": [
          "Tratamientos"
        ],
        "x-kuida-resource": "treatments",
        "x-kuida-method": "list",
        "x-kuida-scope": "treatments:read",
        "x-kuida-paginated": true,
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Cantidad de objetos a devolver, entre 1 y 100. Default 10.",
            "schema": {
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Cursor: id del último objeto de la página anterior. Devuelve los siguientes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "description": "Cursor: id del primer objeto de la página actual. Devuelve los anteriores.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TreatmentList"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/treatments/{id}": {
      "get": {
        "operationId": "treatments.retrieve",
        "summary": "Obtener un tratamiento",
        "description": "Devuelve un tratamiento por su id.",
        "tags": [
          "Tratamientos"
        ],
        "x-kuida-resource": "treatments",
        "x-kuida-method": "retrieve",
        "x-kuida-scope": "treatments:read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id del objeto.",
            "schema": {
              "type": "string",
              "pattern": "^trt_.*",
              "example": "trt_cm1a2b3c4d5e6f7g8h9i0j"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Treatment"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "El objeto no existe (`resource_missing`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events": {
      "post": {
        "operationId": "events.create",
        "summary": "Enviar eventos",
        "description": "La puerta genérica: tu sistema avisa lo que pasó con el sobre común y Kuida reacciona. Acepta un evento o un lote de hasta 100. Cada evento se procesa por separado y trae su propio resultado; el status HTTP es 200 si al menos uno se aceptó. Si ninguno entró, responde el error de siempre (400 si todos fallaron por esquema, 500 si fallaron al procesarse) y además `results` con el detalle de cada evento. Los recursos (`/v1/visits`, `/v1/appointments`, …) hacen lo mismo con una forma más cómoda.",
        "tags": [
          "Eventos"
        ],
        "x-kuida-resource": "events",
        "x-kuida-method": "create",
        "x-kuida-scope": "events:write",
        "x-kuida-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventBatchInput"
              },
              "example": {
                "id": "turno-123-atendido",
                "type": "visit.completed",
                "occurredAt": "2026-10-05T10:45:00-03:00",
                "source": {
                  "system": "mi-sistema",
                  "version": "3.2"
                },
                "data": {
                  "patient": {
                    "phone": "+54 9 342 555 0000",
                    "fullName": "Paciente Demo",
                    "dni": "11111111"
                  },
                  "visit": {
                    "visitedAt": "2026-10-05T10:45:00-03:00",
                    "externalId": "turno-123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Ningún evento del lote es válido (trae `results` con el detalle por evento) o el pedido es inválido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error/properties/error"
                    },
                    "object": {
                      "type": "string",
                      "const": "event_batch"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Otro pedido con la misma Idempotency-Key está en curso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "No se pudo procesar ningún evento del lote (`api_error`). Trae `results`; reintenta con los mismos id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error/properties/error"
                    },
                    "object": {
                      "type": "string",
                      "const": "event_batch"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventResult"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "events.list",
        "summary": "Listar eventos",
        "description": "Todo lo que entró a Kuida para la organización (por la API, el conector, el correo), del más nuevo al más viejo. Sirve para depurar una integración: filtra por `status=failed`.",
        "tags": [
          "Eventos"
        ],
        "x-kuida-resource": "events",
        "x-kuida-method": "list",
        "x-kuida-scope": "events:read",
        "x-kuida-paginated": true,
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Cantidad de objetos a devolver, entre 1 y 100. Default 10.",
            "schema": {
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "required": false,
            "description": "Cursor: id del último objeto de la página anterior. Devuelve los siguientes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "required": false,
            "description": "Cursor: id del primer objeto de la página actual. Devuelve los anteriores.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "intake.requested",
                "patient.upserted",
                "appointment.created",
                "appointment.rescheduled",
                "appointment.cancelled",
                "visit.completed",
                "treatment.prescribed",
                "order.issued"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "received",
                "processed",
                "failed",
                "duplicate",
                "unhandled"
              ]
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "api",
                "pms",
                "email",
                "tool",
                "manual",
                "import"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/{id}": {
      "get": {
        "operationId": "events.retrieve",
        "summary": "Obtener un evento",
        "description": "Un evento que entró a Kuida, con su estado y lo que produjo.",
        "tags": [
          "Eventos"
        ],
        "x-kuida-resource": "events",
        "x-kuida-method": "retrieve",
        "x-kuida-scope": "events:read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id del objeto.",
            "schema": {
              "type": "string",
              "pattern": "^evt_.*",
              "example": "evt_cm1a2b3c4d5e6f7g8h9i0j"
            }
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "El objeto no existe (`resource_missing`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook_endpoints": {
      "post": {
        "operationId": "webhook_endpoints.create",
        "summary": "Crear un endpoint de webhooks",
        "description": "Registra una URL de tu sistema para recibir eventos de Kuida. La respuesta trae el `secret` para verificar la firma: guárdalo, no se vuelve a mostrar.",
        "tags": [
          "Webhooks"
        ],
        "x-kuida-resource": "webhook_endpoints",
        "x-kuida-method": "create",
        "x-kuida-scope": "webhooks:write",
        "x-kuida-idempotent": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/KuidaVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookEndpointCreateParams"
              },
              "example": {
                "url": "https://sistema.example/kuida/webhooks",
                "enabledEvents": [
                  "intake.ready",
                  "intake.created"
                ],
                "description": "Sistema de admisión"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Request-Id": {
                "$ref": "#/components/headers/RequestId"
              },
              "Kuida-Version": {
                "$ref": "#/components/headers/KuidaVersion"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "description": "Pedido inválido (`invalid_request_error`) o Idempotency-Key reusada (`idempotency_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Clave faltante, inválida, revocada o vencida (`authentication_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Falta el scope o la línea de servicio (`permission_error`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Otro pedido con la misma Idempotency-Key está en curso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Más de 600 pedidos por minuto (`rate_limit_error`). Respeta Retry-After.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error de Kuida (`api_error`). Reintenta con la misma Idempotency-Key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "webhook_endpoints.list",
        "summary": "Listar endpoints de webhooks",
        "description": "Los endpoints de la organización, del más nuevo al más viejo.",
        "tags": [
[...]
