<?xml version="1.0"?>
<ruleset name="kuida-php-compat">
    <description>Compatibilidad del SDK con PHP 7.4 en adelante (PHPCompatibility).</description>
    <file>src</file>
    <file>scripts</file>
    <file>tests</file>
    <file>init.php</file>
    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="sp"/>
    <config name="testVersion" value="7.4-"/>
    <rule ref="PHPCompatibility"/>
</ruleset>
